.calculator-box {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {

    .calculator-box {
        height: 65%;
    }

}