.tip-container {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

.tip-list-container {
    height: 80%;
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 31%);
    grid-template-rows: repeat(2, 45%);
    row-gap: 10%;
}

